<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <title>Indice</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" 
              integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
              crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="./css/estilo.css">
    </head>

    <body>

        <header id="main-header" class="py-2 text-white">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1>
                            <span class="text-danger">LASER </span><span class="text-warning"> Airlines</span>
                        </h1>
                        <h4>
                            <i>Rápidas y precisas</i> 
                        </h4>
                    </div>

                    <div class="col text-right">
                        <form method="POST" th:action="@{/logout}">
                            <h4>
                                <b>Ingresado como: </b><span class="text-warning" sec:authentication="name"></span>
                            </h4>
                            <input class="btn btn-danger" type="submit" value="Cerrar Sesión"/>
                        </form>
                    </div>
                </div>
            </div>
        </header>
        <section class="fondo">
            <div class="yCentrado">

                <div class="card bg-dark mx-auto" style="width: 20rem;">
                    <div class="card-body">
                        <h5 class="card-title text-white">Seleccionar un Servicio</h5>
                        <div class="card-text">
                            <!-- ADMIN TIENE ACCESO A LOS DOS -->

                            <!-- FOR USERTURISMO -->
                            <div sec:authorize="hasRole('ROLE_USERTURISMO')">
                                <form method="GET" th:action="@{/servicioturismo}">
                                    <button type="submit" class="btn btn-primary btn-block">Servicio Turismo</button>
                                </form>
                            </div>
                            <!-- FOR USERPREMIUM -->
                            <div sec:authorize="hasRole('ROLE_USERPREMIUM')">
                                <form method="GET" th:action="@{/serviciopremium}">
                                    <button type="submit" class="btn btn-success btn-block">Servicio Premium</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <footer id="pie-pagina" class="bg-info text-white p-5">
            <div class="container">
                <div class="col">
                    <p class="lead text-center">
                        &copy; Rodrigo - LASER AIRLINES, DUOC UC
                    </p>
                </div>
            </div>
        </footer>


        <!-- SCRIPTS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" 
                integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" 
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" 
                integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" 
        crossorigin="anonymous"></script>
    </body>
</html>
